In [336]:
#Code below from Vinny

import re
import pandas as pd
import numpy as np
with open ("csvElection/2016election.csv", "r") as myfile:
    t=myfile.read()
t = re.sub("\.", "", t)
# t = re.sub("[,][,]+", ",", t)
t = re.sub("[,]+", ",", t)
t = re.sub("\"", ",", t)
t = re.sub("\r\n", ",", t)
t = re.sub("\n", ",", t)
t2 = t.split('FOR UNITED STATES REPRESENTATIVE')
t2 = [t.split('Recapitulation')[0] for t in t2]

db = []
ds = 1
pds = 0
sn = 0
for t in t2[1:]:
    i = 0
    f1 = 0;f2 = 0;f3 = 0;f4 = 0
    t3 = [v for v in t.split(',') if v]
    if t3[0][0]  == 'â€”':
        t3.pop(0)
    else:
        sn += 1
    if len(t3[0])>=8 and t3[0][:8] == 'AT LARGE':
        ds = '1'
        t3.pop(0)
        f1=1
    while i<len(t3):
        if t3[i].isdigit():
            if f1==0:
                pds = ds
                ds = t3[i]
                f1=1
            else:
                if f2==0:
                    v = t3[i]
                    f2=1
                else:
                    if len(t3[i])==3:
                        v+=t3[i]
                    else:
                        f3=1
        else:
            if f1==1 and f2==1 and f4==1:
                f3=1
            elif f4==1:
                party = t3[i]
            else:
                name = t3[i]
                party = t3[i]
                f1=1
                f4=1
        if f3==1:
            f1=0;f2=0;f3=0;f4=0
            if name=='Total':
                break
            if ds!='1':
                if int(ds)-int(pds)!=1:
                    break
            db.append([sn,ds,name,party,v])            
        else:
            i+=1
    if f1==1 and f2==1 and f4==1 and name!='Total':
        if ds=='1' or int(ds)-int(pds)==1:
            db.append([sn,ds,name,party,v])
#End of Vinny's code
            
#turn into DataFrame            
elections2016 = pd.DataFrame(db)
#change column names
elections2016.columns = ['state', 'district', 'candidate', 'party', 'candidate_votes']
#change votes to int type
elections2016['candidate_votes'] = elections2016['candidate_votes'].transform(lambda x: int(x))
#calculate district votes
elections2016['state'] = elections2016.state.transform(lambda x: state_codes.get(x))
elections2016["district"] = elections2016.district.map(lambda x: float(x))

votes_in_2016 = elections2016.groupby(['state', 'district'], as_index = False).candidate_votes.sum()
#rename district votes column
votes_in_2016 = votes_in_2016.rename(columns = {'candidate_votes':'district_votes'})



#merge district votes back onto elections dataframe
#elections2014 = pd.merge(elections2014,district_votes, how = 'left', on=['state', 'district'])
#elections2014['year']=2014
#elections2014['candidate_Lname'] = elections2014["candidate"].str.split().str[-1].str.upper()

#elections2014['district']=pd.to_numeric(elections2014.district)

In [339]:
votes_in_2016.head()

  state  district  district_votes
0    AK       1.0          308198
1    AL       1.0          215893
2    AL       2.0          276584
3    AL       3.0          287104
4    AL       4.0          239444

In [325]:
district_vote2016[district_vote2016.state == 'AL'].head(100)

  state  district  district_votes  candidates
1    AL       1.0          152234         1.0
2    AL       2.0          167952         2.0
3    AL       3.0          156620         2.0
4    AL       4.0          134752         1.0
5    AL       5.0          154974         2.0
6    AL       6.0          178449         2.0
7    AL       7.0          135899         1.0

In [308]:
district_vote2016.head()

  state  district  district_votes  candidates
0    AK       1.0          279743         4.0
1    AL       1.0          152234         1.0
2    AL       2.0          167952         2.0
3    AL       3.0          156620         2.0
4    AL       4.0          134752         1.0

In [340]:
elections2016_nowritein.party.unique()

array([' Republican ', ' Democrat ', ' Libertarian ', ' Nonaffiliated ',
       ' Green ', 'Independent ', ' Libertarian Party of Florida ',
       ' No Party Affiliation ', ' Nonpartisan ', ' Constitution ',
       ' Nominated by Petition ', ' Independent ', ' No Party ', ' Other ',
       ' US Taxpayers ', ' Natural Law ', ' Democratic-Farmer-Labor ',
       ' Independence ', ' Legal Marijuana Now ', ' Reform ',
       ' Veterans Party of America ', ' No Political Party ',
       ' Independent American ', ' Socialist ',
       ' AmericanIndependentsorg ', ' Make Government Work ',
       ' Representing the 99% ', ' Peopleâ€™s Independent Progressive ',
       ' For Political Revolution ', ' Economic Growth ', ' Conservative ',
       ' Wake Up America ', ' NSA Did 911 ', ' Women of Power ',
       ' New Beginningâ€™s ', 'Conservative ', 'Independence ', 'Reform ',
       'Womenâ€™s Equality ', ' Republican/Tax Revolt ',
       ' Democratic-Nonpartisan League ', 'Miscellaneous ',
       ' Progressive ', ' Pacific Green ', 'Green ', ' American ',
       ' Unaffiliated ', ' Liberty Union ', ' Trump Conservative '], dtype=object)

In [341]:
elections2016_nowritein = elections2016[(elections2016.candidate != 'Write-in (No Party) ')&(elections2016.candidate !='Working Families ')&(elections2016.candidate !='All Others ')&(elections2016.party !='Write-in ')&(elections2016.party !=' Write-in (Republican) ')&(elections2016.party !=' Write-in (Democratic) ')&(elections2016.party !=' Write-in (Independent) ')&(elections2016.party !=' Write-in (Green) ')&(elections2016.party !=' Write-in ')&(elections2016.party !='Blank Votes ')&(elections2016.party !='Over Votes ')&(elections2016.party !=' Write-in (Libertarian) ')&(elections2016.party !=' Write-in (Unenrolled) ')&(elections2016.party !='Other Write-ins ')&(elections2016.party !=' Unenrolled ')&(elections2016.party !='Scatter ')&(elections2016.party !='Void ')&(elections2016.party !='Scattering ')&(elections2016.party !='(1)')&(elections2016.party !='Spoiled Votes ')&(elections2016.party !='Under Votes ')]
# elections2016_nowritein = elections2016[(elections2016.party != ' Write-in (None) ')&(elections2016.party != ' Write-in (Republican) ')&(elections2016.party != ' Write-in (Independent) ')&(elections2016.party != ' Write-in (Marketing Managers) ')&(elections2016.party != ' Write-in (Democrat) ')&(elections2016.party != ' Write-in ')&(elections2016.party != ' Write-in (Unaffiliated) ')&(elections2016.party != 'Scattering/Write-ins ')&(elections2016.party != '(1)')&(elections2016.party != 'Write-in ')&(elections2016.party != 'Over Votes ')&(elections2016.party != 'Others ')&(elections2016.party !='Other Write-ins ')&(elections2016.party != 'Blanks ')&(elections2016.party != 'All Others ')&(elections2016.party != 'Under Votes ')]

In [344]:
district_candidates = elections2016_nowritein.groupby(['state', 'district'], as_index = False).candidate.count()
votes_in_2016['candidates']=district_candidates['candidate']
votes_in_2016['year']=2016
votes_in_2016.tail()

votes_in_2016.to_pickle('district_votes2016.pickle')

In [331]:
votes_2016

  state  district  candidate_votes  candidates  year
0    AK       1.0           308198           4  2016
1    AL       1.0           215893           1  2016
2    AL       2.0           276584           2  2016
3    AL       3.0           287104           2  2016
4    AL       4.0           239444           1  2016

In [294]:
#Code below Vinny's code

with open ("csvElection/2014election.csv", "r") as myfile:
    t=myfile.read()
t = re.sub("\.", "", t)
# t = re.sub("[,][,]+", ",", t)
t = re.sub("[,]+", ",", t)
t = re.sub("\"", ",", t)
t = re.sub("\r\n", ",", t)
t = re.sub("\n", ",", t)
t2 = t.split('FOR UNITED STATES REPRESENTATIVE')
t2 = [t.split('Recapitulation')[0] for t in t2]

db = []
ds = 1
pds = 0
sn = 0
for t in t2[1:]:
    i = 0
    f1 = 0;f2 = 0;f3 = 0;f4 = 0
    t3 = [v for v in t.split(',') if v]
    if t3[0][0]  == 'â€”':
        t3.pop(0)
    else:
        sn += 1
    if len(t3[0])>=8 and t3[0][:8] == 'AT LARGE':
        ds = '1'
        t3.pop(0)
        f1=1
    while i<len(t3):
        if t3[i].isdigit():
            if f1==0:
                pds = ds
                ds = t3[i]
                f1=1
            else:
                if f2==0:
                    v = t3[i]
                    f2=1
                else:
                    if len(t3[i])==3:
                        v+=t3[i]
                    else:
                        f3=1
        else:
            if f1==1 and f2==1 and f4==1:
                f3=1
            elif f4==1:
                party = t3[i]
            else:
                name = t3[i]
                party = t3[i]
                f1=1
                f4=1
        if f3==1:
            f1=0;f2=0;f3=0;f4=0
            if name=='Total':
                break
            if ds!='1':
                if int(ds)-int(pds)!=1:
                    break
            db.append([sn,ds,name,party,v])            
        else:
            i+=1
    if f1==1 and f2==1 and f4==1 and name!='Total':
        if ds=='1' or int(ds)-int(pds)==1:
            db.append([sn,ds,name,party,v])
#End of Vinny's code

#turn into DataFrame            
elections2014 = pd.DataFrame(db)
#change column names
elections2014.columns = ['state', 'district', 'candidate', 'party', 'candidate_votes']
#change votes to int type
elections2014['candidate_votes'] = elections2014['candidate_votes'].transform(lambda x: int(x))
#calculate district votes
elections2014['state'] = elections2014.state.transform(lambda x: state_codes.get(x))
elections2014["district"] = elections2014.district.map(lambda x: float(x))

district_votes2014 = elections2014.groupby(['state', 'district'], as_index = False).candidate_votes.sum()
#rename district votes column
district_votes2014 = district_votes2014.rename(columns = {'candidate_votes':'district_votes'})



#merge district votes back onto elections dataframe
#elections2014 = pd.merge(elections2014,district_votes, how = 'left', on=['state', 'district'])
#elections2014['year']=2014
#elections2014['candidate_Lname'] = elections2014["candidate"].str.split().str[-1].str.upper()

#elections2014['district']=pd.to_numeric(elections2014.district)

In [290]:
elections2014.candidate.unique()
elections2014_nowritein = elections2014[(elections2014.candidate != 'Write-in ')&(elections2014.candidate !='(1)')&(elections2014.candidate !='Blank/Void/Scattering ')&(elections2014.candidate !='Conservative')&(elections2014.candidate !='Write-in (Miscellaneous) ')&(elections2014.candidate !='Under Votes ')&(elections2014.candidate !='All Others')&(elections2014.candidate !='Other Write-ins ')&(elections2014.candidate !='Others ')&(elections2014.candidate !='Working Families ')&(elections2014.candidate !='Over Votes ')&(elections2014.candidate !='Blank ')&(elections2014.candidate !='Blanks ')&(elections2014.candidate !='All Others ')&(elections2014.candidate !='Conservative ')&(elections2014.candidate !='Blank')&(elections2014.party != ' Write-in (None) ')&(elections2014.party != ' Write-in (Republican) ')&(elections2014.party != ' Write-in (Independent) ')&(elections2014.party != ' Write-in (Marketing Managers) ')&(elections2014.party != ' Write-in (Democrat) ')&(elections2014.party != ' Write-in ')&(elections2014.party != ' Write-in (Unaffiliated) ')&(elections2014.party != 'Scattering/Write-ins ')&(elections2014.party != '(1)')&(elections2014.party != 'Write-in ')&(elections2014.party != 'Over Votes ')&(elections2014.party != 'Others ')&(elections2014.party !='Other Write-ins ')&(elections2014.party != 'Blanks ')&(elections2014.party != 'All Others ')&(elections2014.party != 'Under Votes ')]
elections2014_nowritein.head()

  state  district         candidate         party  candidate_votes
0    AL       1.0     Bradley Byrne   Republican            103758
1    AL       1.0  Burton R LeFlore     Democrat             48278
3    AL       2.0       Martha Roby   Republican            113103
4    AL       2.0      Erick Wright     Democrat             54692
6    AL       3.0       Mike Rogers   Republican            103558

In [291]:
district_candidates = elections2014_nowritein.groupby(['state', 'district'], as_index = False).candidate.count()

In [292]:
district_votes2014['candidates']=district_candidates['candidate']

In [295]:
district_votes2014.head()

  state  district  district_votes
0    AK       1.0          279743
1    AL       1.0          152234
2    AL       2.0          167952
3    AL       3.0          156620
4    AL       4.0          134752

In [287]:
district_votes2014['year']=2014
district_votes2014.to_pickle('district_votes2014.pickle')

In [288]:
df = pd.read_pickle('district_votes2014.pickle')

In [289]:
df

    state  district  district_votes  candidates  year
0      AK       1.0          279743           3  2014
1      AL       1.0          152234           2  2014
2      AL       2.0          167952           2  2014
3      AL       3.0          156620           2  2014
4      AL       4.0          134752           1  2014
5      AL       5.0          154974           2  2014
6      AL       6.0          178449           2  2014
7      AL       7.0          135899           1  2014
8      AR       1.0          196256           3  2014
9      AR       2.0          237330           3  2014
10     AR       3.0          190935           2  2014
11     AR       4.0          206131           3  2014
12     AZ       1.0          185114           2  2014
13     AZ       2.0          219351           2  2014
14     AZ       3.0          104428           2  2014
15     AZ       4.0          175179           3  2014
16     AZ       5.0          179463           2  2014
17     AZ       6.0          199776           2  2014
18     AZ       7.0           72454           4  2014
19     AZ       8.0          169776           2  2014
20     AZ       9.0          162062           3  2014
21     CA       1.0          216372           2  2014
22     CA       2.0          217524           2  2014
23     CA       3.0          150260           2  2014
24     CA       4.0          211134           2  2014
25     CA       5.0          171148           2  2014
26     CA       6.0          133456           2  2014
27     CA       7.0          183587           2  2014
28     CA       8.0          114536           2  2014
29     CA       9.0          121204           2  2014
..    ...       ...             ...         ...   ...
230    UT       3.0          142580           5  2014
231    UT       4.0          147168           5  2014
232    VA       1.0          209621           3  2014
233    VA       2.0          173060           2  2014
234    VA       3.0          147402           1  2014
235    VA       4.0          200638           3  2014
236    VA       5.0          204945           4  2014
237    VA       6.0          179708           3  2014
238    VA       7.0          243351           3  2014
239    VA       8.0          203076           5  2014
240    VA       9.0          162815           2  2014
241    VA      10.0          222910           5  2014
242    VT       1.0          191504           6  2014
243    WA       1.0          225579           2  2014
244    WA       2.0          201691           2  2014
245    WA       3.0          202814           2  2014
246    WA       4.0          153079           2  2014
247    WA       5.0          223242           2  2014
248    WA       6.0          224290           2  2014
249    WA       7.0          251875           2  2014
250    WA       8.0          198744           2  2014
251    WA       9.0          166794           2  2014
252    WA      10.0          181492           2  2014
253    WI       1.0          288170           3  2014
254    WI       2.0          328847           3  2014
255    WI       3.0          275161           3  2014
256    WV       1.0          144737           2  2014
257    WV       2.0          154250           4  2014
258    WV       3.0          140401           2  2014
259    WY       1.0          171153           4  2014

[260 rows x 5 columns]

In [114]:
state_codes = {1:'AL', 2:'AK', 3:'AZ', 4:'AR', 5:'CA', 6:'CO', 7:'CT', 8: 'DE', 9: 'FL', 10:'GA', 11:'HI', 12:'ID', 13:'IL', 14:'IN', 15:'IA', 16:'KS', 17:
         'KY',18:'LA', 19:'ME', 20:'MD', 21:'MA', 22:'MI', 23:'MN', 24:'MS', 25:'MO', 26:'MT', 27:'NE', 28:'NV', 29:'NH', 30:'NJ', 31: 'NM', 32:'NY', 33:'NC', 34:'ND', 35:'OH', 36:'OK', 37:'OR', 38:'PA', 39:'RI', 40:'SC', 41:'SD', 42:'TN', 43:'TX', 44:'UT', 45:'VT', 46:'VA', 47:'WA', 48:'WV', 49:'WI', 50:'WY'}

In [137]:
elections2014['state'] = elections2014.state.transform(lambda x: state_codes.get(x))
elections2014["district"] = elections2014.district.map("{:02}".format)

In [286]:
elections2014.head(50)

,state,district,candidate,party,candidate_votes
0,AL,1.0,Bradley Byrne,Republican,103758
1,AL,1.0,Burton R LeFlore,Democrat,48278
2,AL,1.0,Write-in,Write-in,198
3,AL,2.0,Martha Roby,Republican,113103
4,AL,2.0,Erick Wright,Democrat,54692
5,AL,2.0,Write-in,Write-in,157
6,AL,3.0,Mike Rogers,Republican,103558
7,AL,3.0,Jesse T Smith,Democrat,52816
8,AL,3.0,Write-in,Write-in,246
9,AL,4.0,Robert B Aderholt,Republican,132831
10,AL,4.0,Write-in,Write-in,1921
11,AL,5.0,Mo Brooks,Republican,115338
12,AL,5.0,Mark Bray,Independent,39005
13,AL,5.0,Write-in,Write-in,631
14,AL,6.0,Gary Palmer,Republican,135945
15,AL,6.0,Mark Lester,Democrat,42291
16,AL,6.0,Write-in,Write-in,213
17,AL,7.0,Terri A Sewell,Democrat,133687
18,AL,7.0,Write-in,Write-in,2212
19,AK,1.0,Don Young,Republican,142572
20,AK,1.0,Forrest Dunbar,Democrat,114602
21,AK,1.0,Jim C McDermott,Libertarian,21290
22,AK,1.0,Write-in,Write-in,1277
23,AK,1.0,(1),(1),2
24,AZ,1.0,Andy Tobin,Republican,87723
25,AZ,1.0,Ann Kirkpatrick,Democrat,97391
26,AZ,2.0,Martha McSally,Republican,109704
27,AZ,2.0,Ron Barber,Democrat,109543
28,AZ,2.0,Sampson U Ramirez,Write-in (None),56
29,AZ,2.0,Sydney Dudikoff,Write-in (Republican),48
30,AZ,3.0,Gabby Saucedo Mercer,Republican,46185
31,AZ,3.0,RaÃºl M Grijalva,Democrat,58192
32,AZ,3.0,F Sanchez,Write-in (Independent),43
33,AZ,3.0,Lee Thompson,Write-in (Marketing Managers),8
34,AZ,4.0,Paul A Gosar,Republican,122560
35,AZ,4.0,Mike Weisser,Democrat,45179
36,AZ,4.0,Chris Rike,Libertarian,7440
37,AZ,5.0,Matt Salmon,Republican,124867
38,AZ,5.0,James Woods,Democrat,54596
39,AZ,6.0,David Schweikert,Republican,129578
40,AZ,6.0,W John Williamson,Democrat,70198
41,AZ,7.0,Ruben Gallego,Democrat,54235
42,AZ,7.0,Joe Cobb,Libertarian,10715
43,AZ,7.0,Rebecca DeWitt,Americans Elect,3858
44,AZ,7.0,JosÃ© PeÃ±alosa,JosÃ© PeÃ±alosa,3496
45,AZ,7.0,Gary Dunn,Write-in (Republican),129
46,AZ,7.0,Gustavo Ortega,Write-in (Democrat),17
47,AZ,7.0,Samuel Esquivel,Write-in (Independent),4
48,AZ,8.0,Trent Franks,Republican,128710
49,AZ,8.0,Stephen Dolgos,Americans Elect,41066